.bubbleTitle {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.bubbleDescription {
    font-size: 25px;
    text-align: center;
    font-weight: normal;
}

.bubble {
    align-self: center;
    width: 500px;
    height: auto;
}