.ContactTitle {
    text-align: center;
    font-size: 7vw;
    margin-bottom: 5px;
}

.Contact {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.IconRef {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}