.ProjectTitle{
    text-align: center;
    font-size: 7vw;
    margin-bottom: 0px;
    color: inherit;
}


.ProjectsDiv {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.ProjectsDiv:hover {
    flex-wrap: nowrap;
}

.MoreProjects {
    height: 85px;
    width: 75px;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .ProjectsDiv {
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}