.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    background-color: white;
    color: black;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 600px;
    cursor: pointer;
  }

  .card:hover .cardLanguages{
    display:inherit;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .classImg {
    height: auto;
    width: 100%;
    object-fit: contain;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: inherit;
  }
  
  .cardTitle {
    font-size: 25px;
  }

  .cardLanguages {
    display:none;
  }

  .cardDescription {
    font-size: 20px;
  }

  @media only screen and (max-width: 1200px) {
    .card {
      margin-bottom: 40px;
    }
  }